.HomePage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}


.hero-text{
    color: #FFFFFF;
    text-align: center;
    font-size: 3.6rem;
    span{
        color: #185ADB;
    }
}

.h-sub-text{
    text-align: center;
    font-weight: 600;
    color: #FFFFFF;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    .icon-holder{
        margin-right: 1rem;
        .icon{
           font-size: 2.4rem;
           color: #185ADB;
           transition: all .4s ease-in-out;
        }
        .fb:hover{
            color: rgb(0, 119, 255);
        }
        .in:hover{
            color: rgb(255, 0, 221);
        }
        .gh:hover{
            color: #000;
        }
        .lk:hover{
            color: rgb(0, 68, 255);
        }
    }
}
